
.header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 12px;
}

.header a.logo {
    font-size: 20px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: black;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666
}

.pimg,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
fixed = parallax
scroll = normal
*/
    background-attachment: fixed;
}

.pimg {
    background-image: url(pimg.jpg);
    min-height: 100%;
}

.pimg2 {
    background-image: url(pimg2.jpg);
    min-height: 100%;
}

.pimg3 {
    background-image: url(pimg3.jpg);
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}


.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: white;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}


/* cards enter */
    * {
        box-sizing: border-box;
      }
      
      
      /* Float four columns side by side */
      .column {
        float: left;
        width: 25%;
        padding: 0 10px;
      }
      
      /* Remove extra left and right margins, due to padding */
      .row {margin: 0 -5px;}
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive columns */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      
      
      /* Style the counter cards */
      .card {
        border: 5px solid black;
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
      }
  

    .price {
        color: green;
        font-size: 28px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .card button:hover {
        opacity: 0.7;
    }

}
