* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
.container {
    height: 100vh;
    width: 100%;
    background-image: url(airpods2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

}
.navbar {
    width: 97%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;

}
.content {
width: 100%;
position: absolute;
top: 30%;
color: black;
}
.left-col {
    margin-left: 6%;
}
.left-col h1 {
    font-size: 90px;
    color: black;
    line-height: 110px;
    float: left;

}
.right-col {
float: right;
margin-right: 6%;
margin-top: 120px;
display: flex;
align-items: center;

}
.right-col p {
    font-size: 30px;
    color: black;
    font-weight: 400;
    margin-right: 15px;

}
#icon {
    width: 80px;
    cursor: pointer;
}