* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    height: 120vh;
    width: 100%;
    background-image: url(airpods2.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}


.content {
    width: 100%;
    position: absolute;
    top: 30%;
    color: black;
}

.left-col {
    margin-left: 6%;
}

.left-col h1 {
    font-size: 90px;
    color: black;
    line-height: 110px;
    float: left;

}

.right-col {
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;

}

.right-col p {
    font-size: 30px;
    color: black;
    font-weight: 400;
    margin-right: 15px;

}

#icon {
    width: 80px;
    cursor: pointer;
}

.header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 25px;
    border-radius: 12px;
  }

.header a.logo {
    font-size: 20px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: black;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}
